__pycache__/
*.pyc
*.egg-info/
dist/
build/
.venv/
dist/
build/
*.spec
!LinguaEdit.spec
!LinguaEdit-windows.spec
!scripts/linguaedit.spec
linguaedit_0.4.0_all.deb
# Keep .qm files in src/linguaedit/translations/ (needed for pip install)
*.qm
!src/linguaedit/translations/*.qm
