[Desktop Entry]
Name=LinguaEdit
GenericName=Translation Editor
Comment=Edit PO, TS, XLIFF, JSON, YAML, and other translation files
Exec=linguaedit %F
Icon=io.github.yeager.linguaedit
Terminal=false
Type=Application
Categories=Development;Translation;TextEditor;
Keywords=translation;localization;i18n;l10n;gettext;PO;TS;XLIFF;
MimeType=text/x-gettext-translation;application/x-gettext-translation;application/x-xliff;
StartupNotify=true
